alabaster==0.7.12
apipkg==1.5
appdirs==1.4.3
astor==0.8.1
atomicwrites==1.3.0
attrs==19.3.0
autograd==1.3
Automat==20.2.0
Babel==2.8.0
backcall==0.2.0
bleach==3.1.5
Brlapi==0.7.0
btrfsutil==1.1.1
CacheControl==0.12.6
cffi==1.14.0
chardet==3.0.4
click==7.1.1
codecov==2.0.22
colorama==0.4.3
commonmark==0.9.1
constantly==15.1.0
contextlib2==0.6.0
coverage==5.1
cryptography==2.9.2
cycler==0.10.0
decorator==4.4.2
defusedxml==0.6.0
dill==0.3.1.1
distlib==0.3.0
distro==1.4.0
docutils==0.14
entrypoints==0.3
evdev==1.3.0
execnet==1.7.1
future==0.18.2
gitdb2==2.0.6
GitPython==3.0.5
glad==0.1.33
html5lib==1.0.1
hyperlink==19.0.0
idna==2.9
imagesize==1.2.0
importlib-metadata==1.5.0
incremental==17.5.0
iniconfig==1.0.0
ipykernel==5.3.0
ipython==7.15.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isc==2.0
jedi==0.17.0
jeepney==0.4.3
Jinja2==2.11.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.3
jupyter-console==6.1.0
jupyter-core==4.6.3
keyring==21.2.1
kiwisolver==1.1.0
lensfun==0.3.95
libmsym==0.2.4
libnacl==1.7.1
lit==0.10.0.dev0
llvmlite==0.32.1
louis==3.13.0
lutris==0.5.6
MarkupSafe==1.1.1
matplotlib==3.1.2
meson==0.53.2
mistune==0.8.4
more-itertools==8.2.0
mpmath==1.1.0
msgpack==0.6.2
nbconvert==5.6.1
nbformat==5.0.7
notebook==6.0.3
numba==0.49.1
numpy==1.18.1
opencv-python==4.1.2.30
ordered-set==3.1.1
packaging==20.3
pandocfilters==1.4.2
parso==0.7.0
pep517==0.8.1
pexpect==4.8.0
pickleshare==0.7.5
pikaur==1.6.9.1
Pillow==6.2.1
pkginfo==1.5.0.1
pluggy==0.13.1
ply==3.11
pprintpp==0.4.0
progress==1.5
prometheus-client==0.8.0
prompt-toolkit==3.0.5
psutil==5.7.0
ptyprocess==0.6.0
pwquality==1.4.2
py==1.8.1
pyalpm==0.9.1
pybind11==2.5.0
pycparser==2.20
pygame==1.9.6
Pygments==2.6.1
PyGObject==3.36.1
PyHamcrest==1.9.0
PyOpenGL==3.1.5
pyparsing==2.4.6
PyQt5==5.14.1
PyQt5-sip==12.7.1
pyrsistent==0.16.0
pytest==5.3.5
pytest-cache==1.0
pytest-cov==2.9.0
pytest-forked==1.1.3
pytest-rerunfailures==9.0
pytest-xdist==1.32.0
python-dateutil==2.8.1
pytoml==0.1.21
pytools==2020.1
pytz==2019.3
PyYAML==5.3.1
pyzmq==19.0.1
qrcode==6.1
qrcp==0.0.1
qtconsole==4.7.4
QtPy==1.9.0
readme-renderer==26.0
recommonmark==0.6.0
requests==2.23.0
requests-toolbelt==0.9.1
retrying==1.3.3
rich==1.3.1
SecretStorage==3.1.2
semver==2.10.1
Send2Trash==1.5.0
shadowsocks==2.6.12
six==1.14.0
smmap2==2.0.5
snowballstemmer==2.0.0
Sphinx==2.4.4
sphinx-automodapi==0.12
sphinx-catalystcloud-theme==0.0.1
sphinx-intl==2.0.0
sphinx-rtd-theme==0.4.3
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sympy==1.5.1
taichi==0.6.12
taichi-glsl==0.0.5
taichi-three==0.0.2
team==1.0
terminado==0.8.3
testpath==0.4.4
tk==0.1.0
toml==0.10.0
tornado==6.0.4
tqdm==4.46.0
traitlets==4.3.3
twine==3.1.1
Twisted==19.10.0
typing-extensions==3.7.4.2
urllib3==1.25.8
wcwidth==0.1.8
webencodings==0.5.1
widgetsnbextension==3.5.1
yapf==0.29.0
zipp==3.1.0
zope.interface==4.7.2
